<p>Hallo <%=@user.first_name %></p>
<br>
<p>
	<%= @owner.first_name%> heeft je verzoek voor de tuin op de <%=@garden.address %> geaccepteerd. Het tuinieren kan beginnen! Neem contact op met de eigenaar van de tuin en plan een kennismaking in. 
</p>
<br>
<p>
	Dit was jouw bericht naar de eigenaar:
	<%= @allotment.message %>
</p>
<br>
<p>
	Mocht je nog vragen hebben dan kan je contact opnemen met <%= @owner.first_name%> via dit email adres: <%= @owner.email %>
</p>
<br>
<p>
	Groetjes,
	Jouw Stek Team
</p>
