<h1><%= @user.first_name%><%= " " %><%= @user.last_name %></h1>
<h2><%= @user.description %></h2>

<%= cl_image_tag @user.photo, height: 300, width: 400, crop: :fill %>

<% @user.user_reviews.each do | review |  %>
<p><%= review.description %></p>
<p><%= review.stars %></p>
<% end %>

