<!-- When you call this partial you should pass these two variable: path, user  -->
<div class="edit-profile">
  <div class="log-in-wrapper">
    <div class="container">
      <div class="edit-profile-form-box">
        <div class="edit-profile-form-title">
          <h2>Pas je profiel aan</h2>
        </div>

        <%= simple_form_for(user, url: path) do |f| %>
        <div class="form-inputs">
          <%= f.input :first_name, label: "voornaam" %>
          <%= f.input :last_name, label: "achternaam" %>
          <%= f.input :description, label: "beschrijving", as: :text, :input_html => {:maxlength => 500}, placeholder: 'Vertel iets over jezelf en waar je naar opzoek bent bij Jouw Stek..' %>
        </div>
        <div class="edit-profile-btn">
        <div class="user-picture">
         <%= image_tag(user.photo, class: "avatar-small") %>
        </div>
          <%= f.input :photo, label: 'profielfoto' %>
          <%= f.input :photo_cache, as: :hidden %>
          <div class="form-actions">
            <%= f.button :submit, "Updaten", class: "btn-success" %>
          </div>
        </div>

        <% end %>
      </div>
    </div>
  </div>
</div>
