<!-- When you call this partial you should pass these two variable: path, user  -->
<div class="edit-profile">
  <div class="log-in-wrapper">
    <div class="container">
      <div class="edit-profile-form-box">
        <div class="edit-profile-form-title">
        <h2>Edit your profile</h2>
        </div>

        <%= simple_form_for(user, url: path) do |f| %>
        <div class="form-inputs">
        <%= f.input :first_name %>
        <%= f.input :last_name %>
        <%= f.input :description %>
        </div>
        <div class="edit-profile-btn">
        <%= f.input :photo, label: 'picture' %>
        <%= f.input :photo_cache, as: :hidden %>
        <div class="form-actions">
        <%= f.button :submit, "Update", class: "btn-success" %>
        </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
