
<div id="footer">
  <div class="footer-links">
   <div class="space-between-links"><%= link_to "about", about_path, class: "footer-links-hoover" %></div>
   <div class="space-between-links"><%= link_to "contact", "", class: "footer-links-hoover"  %></div>
 </div>
 <div class="section-title-border-footer">
 </div>
 <div class="footer-social">
  <%= link_to "", "", class: "fa fa-instagram footer-icons btn-footer" %>
  <%= link_to "", "", class: "fa fa-facebook footer-icons btn-footer" %>
  <%= link_to "", "", class: "fa fa-twitter footer-icons btn-footer" %>
</div>
</div>
