<div class="container hidden-xs" id="hex-container">
  <div class="cirle-arrow">
    <a href="#hex-container"><i class="fa fa-angle-down" style="color: black;"></i></a>
  </div>
  <div class="hexes">
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <%= link_to gardens_path do %>
        <div class="hex hidden-xs" id="hex1">
          <div class="hexagon hexagon1">
            <div class="hexagon-in1">
              <div class="hexagon-in2" style= "background: url(<%= image_path 'afb6.jpg' %>);">
              </div>
            </div>
          </div>
        </div>
      </div>
      <% end %>
      <div class="col-xs-12 col-sm-6">
        <%= link_to gardens_path do %>
        <div class="hex hidden-xs" id="hex2">
          <div class="hexagon hexagon1">
            <div class="hexagon-in1">
              <div class="hexagon-in2" style= "background: url(<%= image_path 'afb1.jpg' %>);">
              </div>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class=" col-xs-12 col-sm-4">
        <%= link_to gardens_path do %>
        <div class="hex hidden-xs hidden-sm hidden-md" id="hex3">
          <div class="hexagon hexagon1">
            <div class="hexagon-in1">
              <div class="hexagon-in2" style= "background: url(<%= image_path 'hex-photo2.jpg' %>);">
              </div>
            </div>
          </div>
        </div>
        <% end %>
      </div>
      <div class="col-xs-12 col-sm-4">
        <%= link_to gardens_path do %>
        <div class="hex" id="hex4">
          <div class="hexagon hexagon1">
            <div class="hexagon-in1">
              <div class="hexagon-in2" style= "background: url(<%= image_path 'afb3.jpg' %>);">
              </div>
            </div>
          </div>
        </div>
        <% end %>
      </div>
      <div class="col-xs-12 col-sm-4">
        <%= link_to gardens_path do %>
        <div class="hex hidden-xs hidden-sm hidden-md" id="hex5">
          <div class="hexagon hexagon1">
            <div class="hexagon-in1">
              <div class="hexagon-in2" style= "background: url(<%= image_path 'hex-photo1.jpg' %>);">
              </div>
            </div>
          </div>
        </div>
      </div>
      <% end %>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <%= link_to gardens_path do %>
        <div class="hex hidden-xs" id="hex6">
          <div class="hexagon hexagon1">
            <div class="hexagon-in1">
              <div class="hexagon-in2" style= "background: url(<%= image_path 'afb4.jpg' %>);">
              </div>
            </div>
          </div>
        </div>
      </div>
      <% end %>
      <div class="col-xs-12 col-sm-6">
        <%= link_to gardens_path do %>
        <div class="hex hidden-xs" id="hex7">
          <div class="hexagon hexagon1">
            <div class="hexagon-in1">
              <div class="hexagon-in2" style= "background: url(<%= image_path 'afb5.jpg' %>);">
                <%= link_to gardens_path %>
              </div>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class=" col-xs-12 col-sm-4">
        <%= link_to gardens_path do %>
        <div class="hex hidden-xs hidden-sm hidden-md" id="hex8">
          <div class="hexagon hexagon1">
            <div class="hexagon-in1">
              <div class="hexagon-in2" style= "background: url(<%= image_path 'moestuin1.jpg' %>);">
              </div>
            </div>
          </div>
        </div>
        <% end %>
      </div>
      <div class="col-xs-12 col-sm-4">
        <%= link_to gardens_path do %>
        <div class="hex hidden-xs" id="hex9">
          <div class="hexagon hexagon1">
            <div class="hexagon-in1">
              <div class="hexagon-in2" style= "background: url(<%= image_path 'hex-photo3.jpg' %>);">
              </div>
            </div>
          </div>
        </div>
        <% end %>
      </div>
      <div class="col-xs-12 col-sm-4">
        <%= link_to gardens_path do %>
        <div class="hex hidden-xs hidden-sm hidden-md" id="hex10">
          <div class="hexagon hexagon1">
            <div class="hexagon-in1">
              <div class="hexagon-in2" style= "background: url(<%= image_path 'afb2.jpg' %>);">
              </div>
            </div>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>