<div class="navbar-wagon">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-wagon-brand" do %>
  <%= image_tag "logo_white.png" %>
  <% end %>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">
<!-- LOGGED IN: logo, about, search, my profile, my bookings, my gardens, log out, message
NOT LOGGED IN: logo, about, search, login, join -->

<!--  <%= link_to t(".about", default: "About"), about_path, class: "navbar-wagon-item navbar-wagon-link" %> -->

<!-- Different navigation if login or not -->
<% if user_signed_in? %>

<!-- Notification -->


<div class="navbar-wagon-item">
  <div class="dropdown">
    <!-- <img src="http://placehold.it/50x50" class="avatar dropdown-toggle" id="navbar-wagon-menu" data-toggle="dropdown"> -->
<%= image_tag current_user.photo, class:"avatar-small dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown"%>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><%= link_to t(".profile", default: "Profile"), user_profile_path, class: "navbar-wagon-item navbar-wagon-link" %></li>
        <% if current_user.garden %>
        <li><%= link_to t(".allotments", default: "Allotments"), owner_allotments_path, class: "navbar-wagon-item navbar-wagon-link" %></li>
        <% else %>
        <li><%= link_to t(".allotments", default: "Allotments"), user_allotments_path, class: "navbar-wagon-item navbar-wagon-link" %></li>
        <% end %>
        <% if current_user.garden %>
          <li><%= link_to t(".garden", default: "My garden"), owner_garden_path, class: "navbar-wagon-item navbar-wagon-link" %></li>
        <% end %>
        <li><%= link_to t(".destroy", default: "Sign out"), destroy_user_session_path, method: :delete, class: "navbar-wagon-item navbar-wagon-link" %></li>
      </ul>
  </div>
</div>

<% if !current_user.garden %>
<%= link_to "start sharing", new_owner_garden_path, {class: "navbar-wagon-item btn btn-success btn-default"} %>
<% end %>

<% else %>

<!-- Login text link -->
<%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %>


<!-- Button (call-to-action) -->
<%= link_to "Join", new_user_registration_path, {class: "navbar-wagon-item btn btn-success btn-default", "data-toggle": "modal", "data-target": "#sign-up"} %>

<% end %>

<!-- Search form -->
<!-- <form action="" class="navbar-wagon-search">
  <input type="text" class="navbar-wagon-search-input" placeholder="Search">
    <button type="submit" class="navbar-wagon-search-btn">
      <i class="fa fa-search"></i>
    </button>
</form> -->

</div>

</div>

<div class="modal fade" id="sign-up">
  <%= render "devise/registrations/sign_up", user: User.new %>
</div>


