  <div id="container-garden">

    <div class="garden-image">
    <%= link_to garden.photo.url, class: "swipebox" do %>
     <%= cl_image_tag garden.photo, height: 450, width: 600, crop: :fill %>
   <% end %>
    </div>

   <%= link_to image_tag(garden.owner.photo, class: "avatar-medium"), user_path(garden.owner), { class: "avatar-link card-user" } %>

   <div class="text-garden">

    <h2> <%= garden.title %></h2>
    <p> <%= garden.address %></p>
    <p> <%= garden.description %></p>
    <br>
    <div><%= link_to "Book this Garden", new_garden_allotment_path(@garden), {class: "btn btn-success" } %></div>
  </div>
</div>

<div class="container-small-map">
  <%= image_tag "https://maps.googleapis.com/maps/api/staticmap?zoom=15&size=1000x300&sensor=false&maptype=roadmap&markers=color:red|#{@garden.address}" %>
</div>


<div id="review-container">
  <div class="row">
    <% garden.garden_reviews.each do |review| %>
    <div class="col-xs-12 col-sm-6" >
      <div class="review-cards" >
        <div class="circle">
          <%= cl_image_tag review.user.photo, class: "avatar-medium", id: "avatar-review" %>
        </div>
        <div class="review-name">
          <p> <%= review.user.fullname %></p>
        </div>
        <div class="review-text">
          <p><%= review.description %></p>
        </div>
        <div class="carrots">
          <% review.stars.times do %>
          <%= image_tag "carrot_full.png", class: "small-icon"%>
          <% end %>
          <% (5 - review.stars).times do %>
          <%= image_tag "carrot_empty",  class: "small-icon"%>
          <% end %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
