<p> Hier komen de components:</p>

<!-- <img src="../images/garden1.jpeg"> -->
<%= image_tag("garden1.jpeg", class: " avatar-small ") %>
<%= image_tag("garden1.jpeg", class: " avatar-medium ") %>
<%= image_tag("garden1.jpeg", class: " avatar-large ") %>
<%= image_tag("garden1.jpeg", class: " avatar-extralarge ") %>

<%= link_to "Picture", "", { class: "btn btn-success btn-sm" } %>
<%= link_to "Submit", "", { class: "btn btn-success btn-default" } %>
<%= link_to "Book this garden", "", { class: "btn btn-success btn-lg" } %>


<b class="status_accepted"> Accept </b>
<b class="status_denied"> Deny </b>

<%= link_to "Write review", "", { class: "btn btn-review" } %>
