<div class='container'>
  <div class='box'>
    <h1>Welcome to Greenthumb</h1>
  </div>
</div>

<div class="container map">
  <div class="row">
   <div id="map" style="width: 100%; height: 600px;"></div>
   <% content_for(:after_js) do %>
   <%= javascript_tag do %>
   $(document).on('ready', function() {
   handler = Gmaps.build('Google');
   handler.buildMap({ internal: { id: 'map' } }, function(){
   markers = handler.addMarkers(<%= raw @markers.to_json %>);
   handler.bounds.extendWith(markers);
   handler.fitMapToBounds();
 });
})
<% end %>
<% end %>
</div>
</div>

<div class="countainer">
  <div class="row">

    <div class="col-xs-6 col-sm-4">
     <div class="blocks">
      <%= image_tag 'garden1.jpeg'%>
    </div>
  </div>

  <div class="col-xs-6 col-sm-4">
    <div class="blocks">
      <%= image_tag 'garden1.jpeg'%>
    </div>
  </div>

  <div class="col-xs-6 col-sm-4">
    <div class="blocks">
      <%= image_tag 'garden1.jpeg'%>
    </div>
  </div>

  <div class="col-xs-6 col-sm-4">
    <div class="blocks">
      <%= image_tag 'garden1.jpeg'%>
    </div>
  </div>

  <div class="col-xs-6 col-sm-4">
    <div class="blocks">
    <p>Hello</p>
    </div>
  </div>

  <div class="col-xs-6 col-sm-4">
    <div class="blocks">
    <p>Hello</p>
    </div>
  </div>

</div>
</div>
