<div class='container'>
  <div class='box'>
    <h1>Welcome to Greenthumb</h1>
  </div>
</div>

<div class="container map">
  <div class="row">
   <div id="map" style="width: 100%; height: 600px;"></div>
   <% content_for(:after_js) do %>
   <%= javascript_tag do %>
   $(document).on('ready', function() {
   handler = Gmaps.build('Google');
   handler.buildMap({ internal: { id: 'map' } }, function(){
   markers = handler.addMarkers(<%= raw @markers.to_json %>);
   handler.bounds.extendWith(markers);
   handler.fitMapToBounds();
 });
})
<% end %>
<% end %>
</div>
</div>



    <div class="text-center padded"><%= link_to "List with all gardens", gardens_path(@garden), {class: "btn btn-success" } %></div>

<div class="text-center padded"><%= link_to "List with all users", users_path(@user), {class: "btn btn-success" } %></div>

<div class="countainer-cards">
   <h2 class="text-center">Your future garden</h2>

 <div class="container-gar">
    <div class="row">
      <% @gardens[3..5].each do |garden| %>
      <div class="col-xs-12 col-sm-4">
        <div class="card" style="background: url('<%= garden.photo %>');">
          <div class="card-description">
            <h2><%= garden.title %></h2>
          </div>
          <%= link_to "", garden_path(garden), { class: "card-link" } %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>


