
<div class="banner" style="background: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url(<%= image_path 'tomaat.jpg' %>);">
  <div class="banner-content">
    <h1 style="color: white">Start growing your veggies next door</h1>
    <h2 style="color: white">Find your urban garden here</h2>
  </div>
</div>

<div class="components">

  <div class="timeline-container">
    <div class="title-timeline"><h2>How it works:</h2></div>
    <div class="timeline-bar">
      <div class="timeline-bar-starter">
      </div>
      <div class="timeline-bar-body">
      </div>
      <div class="timeline-bar-end">
      </div>
    </div>
    <div class="timeline-content">
      <% YAML.load(File.open("#{Rails.root}/db/data/timeline.yml")).each do |timeline_item| %>
      <div class="timeline-item">
        <div class="timeline-item-icon">
          <i class="<%= timeline_item['icon'] %>"></i>
        </div>
        <div class="timeline-item-info">
          <div class="timeline-item-title">
           <%= timeline_item['title'] %>
         </div>
         <div class="timeline-item-description">
           <%= timeline_item['content'] %>
         </div>
       </div>
     </div>
     <% end %>
   </div>

 </div>

 <%= render "shared/map"%>


 <div class="container" id="hex-container">
  <div class="row">
  <div class="col-xs-12 col-sm-6">
      <div class="hex" id="hex1">
        <div class="hexagon hexagon1">
          <div class="hexagon-in1">
            <div class="hexagon-in2" style= "background: url(<%= image_path 'afb4.jpg' %>);">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6">
      <div class="hex" id="hex2">
        <div class="hexagon hexagon1">
          <div class="hexagon-in1">
            <div class="hexagon-in2" style= "background: url(<%= image_path 'garden_tools.jpg' %>);">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class=" col-xs-12 col-sm-4">
      <div class="hex" id="hex3">
        <div class="hexagon hexagon1">
          <div class="hexagon-in1">
            <div class="hexagon-in2" style= "background: url(<%= image_path 'moestuin1.jpg' %>);">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="hex" id="hex4">
        <div class="hexagon hexagon1">
          <div class="hexagon-in1">
            <div class="hexagon-in2" style= "background: url(<%= image_path 'afb3.jpg' %>);">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="hex" id="hex5">
        <div class="hexagon hexagon1">
          <div class="hexagon-in1">
            <div class="hexagon-in2" style= "background: url(<%= image_path 'afb5.jpg' %>);">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
    <div class="row">
  <div class="col-xs-12 col-sm-6">
      <div class="hex" id="hex6">
        <div class="hexagon hexagon1">
          <div class="hexagon-in1">
            <div class="hexagon-in2" style= "background: url(<%= image_path 'afb1.jpg' %>);">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6">
      <div class="hex" id="hex7">
        <div class="hexagon hexagon1">
          <div class="hexagon-in1">
            <div class="hexagon-in2" style= "background: url(<%= image_path 'afb2.jpg' %>);">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="text-center"><p> Got excited? Explore <%= link_to "gardens", gardens_path(@garden), class: "link" %> in your area! </p></div>



<div class="wrapper-grey padded">

  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <div class="card-testimonial">
          <%= image_tag("person1.png", class: "testimonial-picture", style: "margin-left: 10%") %>
          <div class="section-title-border-testimonial"></div>
          <p> "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit impedit amet sequi perspiciatis illo, omnis sapiente."</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
       <div class="card-testimonial">
        <%= image_tag("person2.png", class: "testimonial-picture", style: "margin-left: 25%") %>
        <div class="section-title-border-testimonial"></div>
        <p> "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit impedit amet sequi perspiciatis illo, omnis sapiente, eaque aut tempore."</p>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
     <div class="card-testimonial">
      <%= image_tag("person4.png", class: "testimonial-picture", style: "margin-left: 25%") %>
      <div class="section-title-border-testimonial"></div>
      <p> "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit impedit amet sequi perspiciatis illo, omnis sapiente, eaque aut."" </p>
    </div>
  </div>
</div>
</div>
</div>




