
<div class="banner" style="background: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url(<%= image_path 'garden1.jpeg' %>);">
  <div class="banner-content">
    <h1>Welcome to Greenthumb</h1>
  </div>
</div>

<div class="container-map">
  <h2 class="text-center" >Find a garden nearby:</h2>
  <div class="row">
   <div id="map" style="width: 100%; height: 600px;">
     <% content_for(:after_js) do %>
     <%= javascript_tag do %>
     $(document).on('ready', function() {
     handler = Gmaps.build('Google');
     handler.buildMap({ internal: { id: 'map' }, provider: { scrollwheel: false }}, function(){
     markers = handler.addMarkers(<%= raw @markers.to_json %>);
     handler.bounds.extendWith(markers);
     handler.fitMapToBounds();
   });
 })
 <% end %>
 <% end %>
</div>
</div>
</div>
</div>


<div class="wrapper-grey padded">
  <h2 class="text-center" >Your future garden:</h2>
  <div class="container-gar">
    <div class="row">
      <% @gardens[0..2].each do |garden| %>
      <div class="col-xs-12 col-sm-4">
        <div class="card" style="background: url('<%= garden.photo %>');">
          <div class="card-description">
            <h2><%= garden.title %></h2>
          </div>
          <div>
            <%= link_to image_tag(garden.owner.photo, class: " avatar-medium "), user_path(garden.owner), { class: "avatar-link card-user" } %>
          </div>
          <%= link_to "", garden_path(garden), { class: "card-link" } %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
  <div class="text-center "><%= link_to "See all gardens", gardens_path(@garden), {class: "btn btn-success" } %></div>
</div>

<div class="container-tips"></div>
<h2 class="text-center"> gardentips</h2>
<p class="text-center"> Hier komen tuin tips</p>
<p class="text-center"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium, maxime quia reiciendis nihil quidem, nesciunt adipisci eos, molestiae temporibus enim aliquam minus sunt ut, repudiandae odit in et iste! Nostrum neque quam ipsum sed officiis recusandae libero impedit debitis adipisci sunt at sit sint nihil assumenda quisquam est, praesentium ut ducimus consequuntur mollitia accusamus explicabo perferendis rerum in? Voluptatum repellat odit enim assumenda perferendis! Iusto eos quaerat corporis repellendus odit molestias incidunt vero labore odio similique qui perferendis fugiat voluptatum aliquam voluptas quidem atque nemo animi quas aut, amet, consectetur exercitationem itaque rerum? Quod ipsa quam voluptate quibusdam, at repellendus.</p>
</div>

<div class="wrapper-grey padded">
  <div class="container-gar">
    <div class="row">
      <% @users[0..2].each do |user| %>
      <div class="col-xs-12 col-sm-4">
        <div class="card" style="background: url('<%= user.photo %>');">
          <div class="card-description">
            <h2><%= user.fullname %></h2>
          </div>
          <%= link_to "", user_path(user), { class: "card-link" } %>
        </div>
      </div>
      <% end %>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit impedit amet sequi perspiciatis illo, omnis sapiente, eaque aut tempore officia possimus sit voluptatibus ratione maiores repudiandae labore voluptates velit alias in nihil laborum repellat. Quod numquam molestias a saepe molestiae illum, veniam unde consectetur. Vel eius quam dignissimos odio quo.</p>
      </div>
      <div class="col-xs-12 col-sm-4">
        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit impedit amet sequi perspiciatis illo, omnis sapiente, eaque aut tempore officia possimus sit voluptatibus ratione maiores repudiandae labore voluptates velit alias in nihil laborum repellat. Quod numquam molestias a saepe molestiae illum, veniam unde consectetur. Vel eius quam dignissimos odio quo.</p>
      </div>
      <div class="col-xs-12 col-sm-4">
        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit impedit amet sequi perspiciatis illo, omnis sapiente, eaque aut tempore officia possimus sit voluptatibus ratione maiores repudiandae labore voluptates velit alias in nihil laborum repellat. Quod numquam molestias a saepe molestiae illum, veniam unde consectetur. Vel eius quam dignissimos odio quo.</p>
      </div>
    </div>
  </div>
  <div class="text-center padded"><%= link_to "See all users", users_path(@user), {class: "btn btn-success" } %></div>
</div>




<div id="footer">
  <div class="footer-container">
    <!-- <div class="row">
      <div class="col-xs-12"> -->
        <!-- <ul class="list-inline"> -->
          <%= link_to "", "", class: "fa fa-youtube footer-icons btn-footer" %>
          <%= link_to "", "", class: "fa fa-instagram footer-icons btn-footer" %>
          <%= link_to "", "", class: "fa fa-facebook footer-icons btn-footer" %>
          <%= link_to "", "", class: "fa fa-twitter footer-icons btn-footer" %>
        <!-- </ul>
      </div>
    </div> -->
  </div>
</div>

<!-- <section id="footer" class="footer">
  <div class="container">
    <div class="row" style="text-align: center">
     <div class="col-sm-4">
       <a href="https://www.github.com/carolienjonker29" class="footer-icons btn-treehouse">
        <i class="fa fa-github"></i>
      </a>
    </div>
    <div class="col-sm-4">
      <a href="https://www.facebook.com/carolienjonker-9" class="footer-icons btn-treehouse">
        <i class="fa fa-facebook"></i>
      </a>
    </div>
    <div class="col-sm-4">
      <a href="#contact" class="footer-icons btn-treehouse">
        <i class="fa fa-envelope-o"></i>
      </a>
    </div>
  </div>
</div>
</section>
-->
