<h1> Gardens: </h1>

<%= render "shared/map", gardens: @gardens%>

 <div class="container">
    <div class="row">
      <% @gardens.each do |garden| %>
      <div class="col-xs-12 col-sm-4">
        <div class="card" style="background: url('<%= garden.photo %>');">

          <div class="card-hover">
            <h2><%= garden.title %></h2>
             <p><%= garden.description %></p>
             <div id="garden-address">
             <p ><%= garden.address %></p>
             </div>
          </div>
          <%= link_to "", garden_path(garden), { class: "card-link" } %>
        </div>
      </div>
      <% end %>
    </div>
  </div>

<!--
<div class="positioning">
 <div class="hexagon hexagon1">
  <div class="hexagon-in1">
    <div class="hexagon-in2" style= "background-image: url(http://placekitten.com/241/241)"></div>
  </div>
 </div>
</div>

<div class="positioning">
 <div class="hexagon hexagon1">
  <div class="hexagon-in1">
    <div class="hexagon-in2" style= "background-image: url(http://placekitten.com/241/241)"></div>
  </div>
 </div>
</div>

<div class="positioning">
 <div class="hexagon hexagon1">
  <div class="hexagon-in1">
    <div class="hexagon-in2" style= "background-image: url(http://placekitten.com/241/241)"></div>
  </div>
 </div>
</div> -->

<!-- <div class="odd">
 <div class="positioning">
   <div class="hexagon hexagon1">
    <div class="hexagon-in1">
      <div class="hexagon-in2" style= "background-image: url(http://placekitten.com/241/241)"></div>
    </div>
   </div>
 </div>



 <div class="positioning">
   <div class="hexagon hexagon1">
    <div class="hexagon-in1">
      <div class="hexagon-in2" style= "background-image: url(http://placekitten.com/241/241)"></div>
    </div>
   </div>
 </div>
</div> -->



