<div class="container-index hidden-xs">
  <div class="container-gardens" style="padding-top: 20px">
    <h2 class="text-center">Waar zou je willen tuinieren? </h2>
    <div class="row">
      <% @gardens.reverse.each do |garden|%>
      <% if garden.available == true %>
      <div class="col-xs-12 col-sm-6">
        <div class="card" style="background: url('<%= cl_image_path(garden.photo, cl_image_options_card_extra_large) %>');">
          <div class="card-hover">
            <h2><%= garden.title %></h2>
            <p><%= truncate(garden.description, length: 300) %></p>
            <div id="garden-address">
             <p ><%= garden.address %>, <%= garden.city %> </p>
           </div>
         </div>
         <%= link_to "", garden_path(garden), { class: "card-link" } %>
       </div>
     </div>
     <% end %>
     <% end %>
   </div>
 </div>
</div>


 <div class="container-map hidden-xs">
    <%= render "shared/map", gardens: @gardens%>
 </div>
</div>

<div class="row hidden-sm hidden-md hidden-lg">
  <div class="col-xs-12">
   <div class="container-gardens" style="padding-top: 20px">
        <h2 class="text-center">Waar zou je willen tuinieren? </h2>
        <div class="row">
          <% @gardens.reverse.each do |garden|%>
          <% if garden.available == true %>
          <div class="col-xs-12 col-sm-6">
            <div class="card" style="background: url('<%= cl_image_path(garden.photo, cl_image_options_card_large) %>');">
              <div class="card-hover">
                <h2><%= garden.title %></h2>
                <p><%= truncate(garden.description, length: 300) %></p>
                <div id="garden-address">
                 <p ><%= garden.address %>, <%= garden.city %> </p>
               </div>
             </div>
             <%= link_to "", garden_path(garden), { class: "card-link" } %>
           </div>
         </div>
         <% end %>
         <% end %>
       </div>
     </div>
   </div>
 </div>

