<div class="container">
  <div class="row">
    <div class="col-sm-offset-3 col-sm-6 form-group">
      <h2>Create a new garden review</h2>
      <%= simple_form_for(@garden_review, url: user_allotment_garden_reviews_path(@allotment) ) do |g| %>
      <%= g.error_notification %>

      <%= g.input :description %>
      <%= g.input :stars, as: :select, :collection => [1, 2, 3, 4, 5] %>

      <%= g.button :submit %>
      <% end %>
    </div>
  </div>
</div>
