
<div><%= cl_image_tag allotment.user.photo, class: "avatar-large" %></div>
  <div><%= allotment.user.fullname %></div>
  <div><%= allotment.start_day %></div>
  <div><%= allotment.end_day %></div>
  <div><%= allotment.message %></div>
  <div class="<%= allotment.request_status %>"><%= allotment.request_status %></div>
  <div><% if allotment.request_status == "pending" %>
    <%= link_to "accept", accept_owner_allotment_path(allotment), class: "btn btn-success btn-sm", method: :patch %>
    <%= link_to "decline", decline_owner_allotment_path(allotment), class: "btn btn-danger btn-sm", method: :patch %>
    <% elsif allotment.request_status == "accepted" %>
    <%= link_to "write review", owner_allotment_user_reviews_path(allotment), class: "btn btn-success btn-sm" %>
    <% end %></div>

