
<tr>
  <td><%= cl_image_tag allotment.garden.photo, class: "avatar-large" %></td>
  <td><p><%= allotment.garden.address %></p></td>
  <td><p><%= allotment.garden.owner.fullname %></p></td>
  <td><p><%= allotment.message %></p></td>
    <td><p><%= allotment.start_day %></p></td>
      <td><p><%= allotment.end_day %></p></td>
  <td><p class="<%= allotment.request_status %>"><%= allotment.request_status %></p></td>
  <td><% if allotment.request_status == "pending" %>
    <%= link_to "Cancel", cancel_user_allotment_path(allotment), class: "btn btn-success btn-sm", method: :patch %>
    <% end %></td>
</tr>
