<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h2 class ="text-center">See here are all your allotment requests</h2>

      <div class="tabs text-align:center">
        <a class="tab active" data-target="#pending">
         <div class="circle-tab">
          <i class="fa fa-question fa-3x"></i>
        </div>
      </a>
      <a class="tab" data-target="#accepted">
        <div class="circle-tab">
          <i class="fa fa-check fa-3x"></i>
        </div>
      </a>
      <a class="tab" data-target="#canceled">
       <div class="circle-tab">
        <i class="fa fa-times fa-3x"></i>
      </div>
    </a>
  </div>
</div>
</div>
</div>


<div class="container text-center">
  <div class="tab-content" id="pending">
    <div class="col-sm-12">
      <table>
        <th></th>
        <th><p>address</p></th>
        <th><p>name</p></th>
        <th><p>message</p></th>
        <% @allotments.each do |allotment| %>
          <% if allotment.request_status == "pending" %>
            <% if current_user.gardens.any? %>
             <%= render "shared/booking/content_owner", allotment: allotment %>
            <% else %>
             <%= render "shared/booking/content_user", allotment: allotment %>
            <% end %>
          <% end %>
        <% end %>
      </table>
    </div>
  </div>
  <div class="tab-content hidden" id="accepted">
    <div class="col-sm-12">
      <table>
        <th></th>
        <th><p>address</p></th>
        <th><p>name</p></th>
        <th><p>message</p></th>
        <% @allotments.each do |allotment| %>
        <% if allotment.request_status == "accepted" %>
        <% if current_user.gardens.any? %>
        <%= render "shared/booking/content_owner", allotment: allotment %>
        <% else %>
        <%= render "shared/booking/content_user", allotment: allotment %>
        <% end %>
        <% end %>
        <% end %>
      </table>
    </div>
  </div>
  <div class="tab-content hidden" id="canceled">
    <div class="col-sm-12">
      <table>
        <th></th>
        <th><p>address</p></th>
        <th><p>name</p></th>
        <th><p>message</p></th>
        <% @allotments.each do |allotment| %>
        <% if allotment.request_status == "cancelled" && "declined"%>
        <%= render "shared/booking//content_user", allotment: allotment %>
        <% end %>
        <% end %>
      </table>
    </div>
  </div>
</div>


