<div class="booking-form" style="background: linear-gradient(-225deg, rgba(255, 255, 255, 0) 0%, rgba(195, 209, 83, 0.31) 50%), url(<%= @garden.photo %>) fixed;">
  <div class="container">
    <div class="row">
    <div class="col-sm-offset-3 col-sm-6 form-group">
        <div class="booking-form-box">
          <h2>Start met tuinieren<small> in <%= @garden.owner.first_name%>'s tuin </small> </h2>

          <%= simple_form_for([:garden, @allotment]) do |a| %>
          <%= a.error_notification %>

          <%= a.input :start_day, label: "Startdatum:", start_year: Time.now.year, order: [:day, :month, :year] %>
          <%= a.input :end_day, label: "Einddatum:", start_year: Time.now.year, order: [:day, :month, :year]  %>
          <%= a.input :message, label: "Bericht:", as: :text, :input_html => {:maxlength => 500}, placeholder: 'Vertel iets over jezelf en wat je graag in de tuin wil doen..' %>
          <div class="btn-form-allotment">
          <%= a.button :submit, "verzenden", class: "btn btn-success" %>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
